<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Stuy Bytes</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Custom styles for this template -->
    <link href="../static/text.css" rel="stylesheet" type=text/css>

  </head>

  <body>

    <!--navbar-->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Stuy Bytes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/myprofile">My Profile</a></li>
	    	<li><a href="/newpost">New Post</a></li>
	  	  </ul>

           <ul class="nav navbar-nav navbar-right">
             <li> <a href="/login">Log In</a></li>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- the actual log in field-->

    <div class="container">

		<h2>
			<u>{{d['title']}}</u>
			<small> by </small>
			<a href="/profile/{{d['user']}}"><small>{{d['user']}}</small></a>
		</h2>
		
		<h5>{{d['date']}} | {{d['time']}}</h5>

		<center><p class="post">{{d['post']}}</p></center>
		
		<p style="text-align:right;margin-bottom:20px"><a href="/delete/{{post_id}}">Delete Post</a></p>
		
		<form class="form-horizontal" method="POST">
			<div class="form-group">
				<label for="inputComm" class="col-sm-2 control-label">Add New Comment:</label>
			    <div class="col-sm-10">
			      <textarea class="form-control" name="comment" rows="3" id="inputPost"></textarea>
			    </div>
		  	</div>
		  <center><input class="btn btn-primary" type="submit" name="button" value="Submit"></center>
		</form>
		
		<h4>Comments</h4>
		<table class="table table-hover table-condensed">
		{% for c in comment_list %}
		<tr>
			<td><h5><a href="/profile/{{c['user']}}">{{c['user']}}</a>
				<br>{{c['date']}}
				 | {{c['time']}}</h5></td>
			<td style="padding-top:10px"><p>{{c['comment']}}</p></td>
		</tr>
		{% endfor %}
      
    </div> <!-- /container -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>



